---
/*
 * Copyright (C) 2026 Garudex Labs.  All Rights Reserved.
 * Caracal, a product of Garudex Labs
 *
 * Concept relationship table for concept pages.
 */

interface Relation {
  type: string
  label: string
  target: string
  targetPath: string
}

interface Props {
  concept: string
  relations: Relation[]
}

const { concept, relations } = Astro.props

const grouped = relations.reduce<Record<string, Relation[]>>((acc, r) => {
  acc[r.label] = acc[r.label] ?? []
  acc[r.label].push(r)
  return acc
}, {})
---

<div class="concept-relations">
  <table>
    <thead>
      <tr>
        <th data-pagefind-ignore="true">Relationship</th>
        <th>Concept</th>
      </tr>
    </thead>
    <tbody>
      {Object.entries(grouped).map(([label, items]) =>
        items.map((r, i) => (
          <tr>
            <td data-pagefind-ignore="true">{i === 0 ? label : ''}</td>
            <td><a href={r.targetPath}>{r.target}</a></td>
          </tr>
        ))
      )}
    </tbody>
  </table>
</div>
